<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @healthinsurance.name %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @healthinsurance.card_number %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @healthinsurance.relation %>
</p>

<p>
  <strong>Issued date:</strong>
  <%= @healthinsurance.issued_date %>
</p>

<p>
  <strong>Policy start date:</strong>
  <%= @healthinsurance.policy_start_date %>
</p>

<p>
  <strong>Policy end date:</strong>
  <%= @healthinsurance.policy_end_date %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @healthinsurance.employee_id %>
</p>

<%= link_to 'Edit', edit_healthinsurance_path(@healthinsurance) %> |
<%= link_to 'Back', healthinsurances_path %>
