<% title "Dashboard" %>

<div class="row">
<div class="col-md-12">
<%=link_to ' Apply leave', new_leave_path, :class=>"fa fa-pencil-square-o btn btn-primary bottom-margin-10 link-float-right" %>
</div>
</div>


<%if @emp.role.name == "HR"%>
  <div class="panel panel-cblue">
    <div class="panel-heading">Employees leave waiting for approval</div>
    <div class="panel-body">

      <table class="table table-hover-color table-bordered">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Employee Name</th>      
            <th>Type of Leave</th>
            <th>From date</th>
            <th>To date</th>
            <th>No of days</th>
          </tr>
        </thead>

        <tbody>
          <% @emp_leaves_waiting_for_approval.each_with_index do |leave, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%=link_to leave.employee.fullname, leave.employee%></td>
              <td><%=leave.leavetype.name %></td>
              <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
              <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
              <td><%=leave.no_of_days%></td>
              <td>
                <%=link_to ' view', leave, :class=>"fa fa-eye btn btn-primary"%>
              </td>         
            </tr>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>

  <div class="panel panel-cblue">
    <div class="panel-heading">Employees leave approved recently</div>
    <div class="panel-body">

      <table class="table table-hover-color table-bordered">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Employee Name</th>      
            <th>Leave type</th>
            <th>From date</th>
            <th>To date</th>
            <th>No of days</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <% @emp_leaves_approved_recently.each_with_index do |leave, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%=link_to leave.employee.fullname, leave.employee%></td>
              <td><%=leave.leavetype.name %></td>
              <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
              <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
              <td><%=leave.no_of_days%></td>
              <td>
                <%if leave.status == true%>
                Approved
                <%elsif leave.status ==false%>
                Rejected
                <%end%>
              </td>          
            </tr>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>
<%end%>

<%if @emp.role.name == "Manager"%>

<div class="panel panel-cblue">
<div class="panel-heading">Team Leave waiting for approval</div>
<div class="panel-body">

<table class="table table-hover-color table-bordered">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Employee</th>      
      <th>Leave type</th>
      <th>From date</th>
      <th>To date</th>
      <th>No of days</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_leave_waiting_for_approve.each_with_index do |leave, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%=link_to leave.employee.fullname, leave.employee%></td>
        <td><%=Leavetype.find(leave.leavetype_id).name%></td>
        <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.no_of_days%></td>
        <td>
            <%=link_to ' view', leave, :class=>"fa fa-eye btn btn-primary"%>            
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>


<div class="panel panel-cblue">
<div class="panel-heading">Recent Team Leave</div>
<div class="panel-body">

<table class="table table-hover-color table-bordered">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Employee</th>      
      <th>Leave type</th>
      <th>From date</th>
      <th>To date</th>
      <th>No of days</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @leave_approved_recently.each_with_index do |leave, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%=link_to leave.employee.fullname, leave%></td>
        <td><%=Leavetype.find(leave.leavetype_id).name%></td>
        <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.no_of_days%></td>
        <td>
                <%if leave.status == true%>
                Approved
                <%elsif leave.status ==false%>
                Rejected
                <%end%>
              </td>         
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<%end%>

<div class="panel panel-cblue">
<div class="panel-heading">Leave waiting for approval</div>
<div class="panel-body">

<table class="table table-hover-color table-bordered">
  <thead>
    <tr>
      <th>S.No</th>      
      <th>Type of Leave</th>
      <th>From date</th>
      <th>To date</th>
      <th>No of days</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leave_waiting_for_approve.each_with_index do |leave, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%=Leavetype.find(leave.leavetype_id).name%></td>
        <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.no_of_days%></td>        
        <%if leave.status == true%>
        <td>Approved</td>
        <%elsif leave.status ==nil%>
        <td>Waiting for approval</td>
        <%end%>
        <td><%=link_to '', leave, :class=>"fa fa-eye btn"%></td> 
        <td><%=link_to '', edit_leave_path(leave), :class=>"fa fa-pencil-square-o btn"%></td>
        <td><%= link_to '', leave, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-times btn" %></td>                        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<div class="panel panel-cblue">
<div class="panel-heading">Leave applied recently</div>
<div class="panel-body">

<table class="table table-hover-color table-bordered">
  <thead>
    <tr>
      <th>S.No</th>      
      <th>Type of Leave</th>
      <th>From date</th>
      <th>To date</th>
      <th>No of days</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @leave_approved.each_with_index do |leave, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%=Leavetype.find(leave.leavetype_id).name%></td>
        <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.no_of_days%></td>
        <td>
        <%if leave.status == true%>
          Approved
        <%end%>
        	
        </td>         
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>