<%#= tinymce %>
<div class="modal fade" id= "announcement-modal">
<%= tinymce %>
  <div class="modal-dialog">
    <div class="modal-content">    
        <div class="panel-heading-style">Announcement</div>
        <div class="panel-body pan">
            <%= form_for(@announcement) do |f| %>
                <div class="form-body pal">
                    <%=f.label :title%><br/>
                    <%= f.text_field :title, class:"form-control", required: true%><br/>
                    <%=f.label :message%><br/>
                    <%= f.text_area :message, class:"form-control tinymce", size: "30x10", require:true %>
                    <br/>      
                    <%=f.label :image, "Select Picture"%>
                    <%=f.file_field :image %>  
                    <br/>              
                    <%=f.label :active, "Status"%>
                    <%= f.select :active, [['active', 1], ['inactive', 0]], {}, class: "form-control" %>          
                </div>
                
                <div class="form-submit-buttons">                   
                    <button type="button" class="btn btn-cgray width-50p btn-border-left-radius" data-dismiss="modal">CANCEL</button>                
                    <%= f.submit "submit", class: "btn btn-cblue width-50p btn-border-right-radius"%> 
                </div>                
            <% end %>
        </div>    
    </div>
</div>
</div>

