<p id="notice"><%= notice %></p>
<%title 'Announcement'%>
<h2 class="link-color">Title: <%= @announcement.title %></h2>

<p class="link-color"> <%= @announcement.message %> </p>

<%= link_to 'Edit', edit_announcement_path(@announcement), :class=>"fa fa-pencil-square-o btn btn-primary" %> |
<%= link_to 'Back', announcements_path, :class=>"fa fa-arrow-left btn btn-primary" %>
