<%title 'Announcement'%>
<div class="col-md-12 bg-color-white">
<h4 class="title-blue">Title: <%= @announcement.title %></h4>

<p> <%= @announcement.message.html_safe %> </p>


<%#= link_to 'Edit', edit_announcement_path(@announcement), :class=>"fa fa-pencil-square-o btn btn-primary" %> 
<a href="javascript:history.back()" class="fa fa-arrow-left btn btn-primary"> Back</a>
</div>

<%unless @announcements.blank?%>
<div class="col-md-12">
	<h4>Announcements</h4>
    <div class="Announcements bg-color-white">
		<table >
		    <%@announcements.each do |announcement|%>
				<tr>
					<td >
						<span class="span-title-color">
							<%=announcement.created_at.strftime("%d-%b-%Y")%>
						</span>
					</td>
					<td>
						<span class="text-primary">
							<%=link_to announcement.title, announcement%>
						</span>
						<br /><%=truncate(announcement.message, :length => 190, escape: false).html_safe%><%= link_to "..Read More", announcement %>
					</td>
				</tr>
			<%end%>		
		</table>
    </div>
</div>
<%end%>