<div class="panel panel-cblue" style="background:#fff;">  
  <div class="panel-body pan">
  <% @rand = (0...15).map { ('a'..'z').to_a[rand(26)] }.join%>

  <%= form_for @employee, html: { multipart: true } do |f| %>
  <div class="form-body pal">
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :first_name, 'First Name*'%><br>
        <%= f.text_field :first_name, :class=>"form-control", required: true %>
      </div>
    </div>
    <div class="col-md-4">
       <div class="form-group">
        <%= f.label :last_name, 'Last Name*' %><br>
        <%= f.text_field :last_name, :class=>"form-control", required: true %>
       </div>
    </div>    
    <div class="col-md-4">
     <div class="form-group">
      <%= f.label :middle_name, 'Middle Name*' %><br>
      <%= f.text_field :middle_name, :class=>"form-control" %>
     </div>
    </div>    
  </div>
  
  <%#= managers.each {|e| e.email} %>
  <div class="row">
    <div class="col-md-4">
     <div class="form-group">
      <%= f.label :department_id, 'Department*' %><br>
      <%=f.collection_select :department_id, Department.all, :id, :name, {:prompt => 'Select Department'}, :class=>"form-control", required: true%>
     </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :manager_id %><span id="notice-no-manager"> No manager for this Department</span><br>
        <%= f.select(:manager_id, [], {}, {:class => 'form-control'})  %>              
      </div>
    </div>    
    <div class="col-md-4">
     <div class="form-group">
      <%= f.label :role_id, 'Role*' %><br>
      <%=f.collection_select :role_id, Role.all, :id, :name, {:prompt => 'Select Role'}, :class=>"form-control", required: true%>
     </div>
    </div>    
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :ttid, 'TT ID*' %><br>
        <%= f.number_field :ttid, :class=>"form-control", required: true %>
      </div>
    </div>    
    <div class="col-md-4">
     <div class="form-group">
      <%= f.label :email, 'Company E-mail*' %><br>
      <%= f.email_field :email, :class=>"form-control", required: true %>
     </div>
    </div>
    <div class="col-md-4">
       <div class="form-group">
        <%= f.label :personal_email, 'Personal E-mail*' %><br>
        <%= f.email_field :personal_email, :class=>"form-control", required: true %>
       </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :blood_group, 'Blood Group*' %><br>
        <%= f.text_field :blood_group, :class=>"form-control" %>
      </div>
    </div>    
    <div class="col-md-4">
     <div class="form-group">
      <%= f.label :father_or_spouse, 'Father or Spouse*' %><br>
      <%= f.text_field :father_or_spouse, :class=>"form-control" %>
     </div>
    </div>
    <div class="col-md-4">
       <div class="form-group">
        <%= f.label :marital_status, 'Marital Status*' %><br>
        <%= f.select :marital_status, options_for_select(["Married", "Single", "Divorced", "Widowed"]), {}, {:class=>"form-control"} %>
       </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :contact_no, 'Contact Number' %><br>
        <%= f.text_field :contact_no, :class=>"form-control" %>
      </div>
    </div>    
    <div class="col-md-4">
     <div class="form-group">
      <%= f.label :emergency_name, 'Emergency Name' %><br>
      <%= f.text_field :emergency_name, :class=>"form-control" %>
     </div>
    </div>
    <div class="col-md-4">
       <div class="form-group">
        <%= f.label :emergency_contact_no, 'Emergency Contact Number' %><br>
        <%= f.text_field :emergency_contact_no, :class=>"form-control" %>
       </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :skype_id, 'Skype ID' %><br>
        <%= f.text_field :skype_id, :class=>"form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :designation, 'Designation' %><br>
        <%= f.text_field :designation, :class=>"form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :about_me, 'About Me' %><br>
        <%= f.text_area :about_me, :class=>"form-control" %>
      </div>
    </div>    
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :actual_dob, 'Actual DOB' %><br>
        <%= f.text_field :actual_dob, :class=>"form-control datepicker", required: true %>
      </div>
    </div>    
    <div class="col-md-4">
     <div class="form-group">
      <%= f.label :certificate_dob, 'Certificate DOB' %><br>
      <%= f.text_field :certificate_dob, :class=>"form-control datepicker", 'data-behaviour' => 'datepicker', required: true %>
     </div>
    </div>
    <div class="col-md-4">
       <div class="form-group">
        <%= f.label :date_of_joining, 'Date of Joining' %><br>
        <%= f.text_field :date_of_joining, :class=>"form-control datepicker", required: true %>
       </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
     <div class="form-group">
      <%= f.label :pg, 'PG' %><br>
      <%= f.text_field :pg, :class=>"form-control" %>
     </div>
    </div>
    <div class="col-md-4">      
      <div class="form-group">
        <%= f.label :pg_institution, 'PG Institution' %><br>
        <%= f.text_field :pg_institution, :class=>"form-control" %>
      </div>
    </div> 
    
    <div class="col-md-4">
       <div class="form-group">
        <%= f.label :pg_university, 'PG University' %><br>
        <%= f.text_field :pg_university, :class=>"form-control" %>
       </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
       <div class="form-group">
        <%= f.label :graduation, 'Graduation' %><br>
        <%= f.text_field :graduation, :class=>"form-control", required: true %>
       </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :graduation_institution, 'Graduation Institution' %><br>
        <%= f.text_field :graduation_institution, :class=>"form-control" %>
      </div>
    </div>    
    <div class="col-md-4">
     <div class="form-group">
      <%= f.label :graduation_university, 'Graduation University' %><br>
      <%= f.text_field :graduation_university, :class=>"form-control" %>
     </div>
    </div>    
  </div>

  <div class="row">
    <div class="col-md-4">      
        <div class="form-group">
          <%= f.label :previous_employer %><br>
          <%= f.text_field :previous_employer, :class=>"form-control" %>
        </div>
    </div>    
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :prev_years_of_exp, 'Previous Years of Experience' %><br>
        <%= f.text_field :prev_years_of_exp, :class=>"form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :source_of_hire, 'Source of Hire' %><br>
        <%= f.select :source_of_hire, options_for_select(["Direct", "Consultancy", "Campus", "Referral"]), {}, {:class=>"form-control"}  %>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :status %><br>        
          <%= f.select :status, options_for_select(["Active", "Resigned", "Exited"]), {}, {:class=>"form-control"} %>
        </div>        
    </div>
    <div class="col-md-4">      
        <div class="form-group">
          <%= f.label :date_of_resignation, 'Date of Resignation' %><br>
          <%= f.text_field :date_of_resignation, :class=>"form-control datepicker" %>
       </div>
    </div>    
    <div class="col-md-4">
      <div class="form-group">
       <%= f.label :lwd, 'Last Working Day' %><br>
       <%= f.text_field :lwd, :class=>"form-control datepicker" %>
      </div>
    </div>    
  </div>



  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :pancard_no, 'Pancard Number' %><br>
          <%= f.text_field :pancard_no, :class=>"form-control" %>
        </div>        
    </div>    
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :passport_no, 'Passport Number' %><br>
          <%= f.text_field :passport_no, :class=>"form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :pf_no, 'PF Number' %><br>
          <%= f.text_field :pf_no, :class=>"form-control" %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :aadhar_no, 'Aadhar Number' %><br>
          <%= f.text_field :aadhar_no, :class=>"form-control" %>
        </div>
    </div>    
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :health_insurance_card_no, 'Health Insurance Card Number' %><br>
          <%= f.text_field :health_insurance_card_no, :class=>"form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :nationality, 'Nationality*' %><br>
          <%= f.text_field :nationality, :class=>"form-control", required: true %>
        </div>
    </div>
  </div>
    
    <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :current_address, 'Current Address' %><br>
          <%= f.text_area :current_address, :class=>"form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :address, 'Permanent Address*' %><br>
          <%= f.text_area :address, :class=>"form-control", required: true %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :profile_picture %><br>
          <%= f.file_field :profile_picture, :class=>"btn btn-primary" %>
        </div>
    </div>     
  </div>      

  <div class="row">          
    <% if f.object.new_record?%>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :password %><br>
          <%= f.text_field :password, :class=>"form-control", :value => @rand %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :password_confirmation %><br>
          <%= f.text_field :password_confirmation, :class=>"form-control", :value => @rand %>
        </div>
      </div>      
    <%end%>
  </div>

  <div class="form-actions text-right pal">
    <%= f.submit "submit", :class=>"fa fa-paper-plane-o btn btn-primary" %>
  </div>

  </div>
  <% end %>
  </div>
</div>




