  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title modal-title-color">Update Employee Leave Used</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <h5 class="blue_color_text">Employee Name: <%=@employee.fullname%></h5>
            <h5 class="blue_color_text">Joining Date: <%=@employee.date_of_joining.strftime("%d-%b-%Y")%></h5>
            <h5 class="blue_color_text">Available Leaves: <%=@employee.days_of_leave- @employee.leave_used %></h5>
            <h5 class="blue_color_text">Available Work From Home: <%=@employee.days_of_leave- @employee.work_from_home_used %></h5>
            <%=form_for :employee, :url => employee_update_leave_used_path(@employee) do |f|%>

              
              <%@twentyfourdays = (0..24).to_a %>
              <div class="row">
                <div class="col-md-3">    
                  <%=f.label :leave_used%>             
                  <%=f.select :leave_used, options_for_select(@twentyfourdays, @employee.leave_used), {}, {autofocus: 'true', class: 'form-control'}%>
                </div>
                <div class="col-md-4">    
                  <%=f.label :work_from_home_used%>             
                  <%=f.select :work_from_home_used, options_for_select(@twentyfourdays, @employee.work_from_home_used), {}, {autofocus: 'true', class: 'form-control'}%>
                </div>
                <div class="col-md-3">                  
                  <%=f.label :days_of_leave, "Total Leaves/WFH"%>
                  <%=f.text_field :days_of_leave, class:"form-control"%>                  
                </div>               
                <div class="col-md-2">
                  <br/>
                  <%=f.submit "update", class: "btn btn-primary"%>
                </div>
              </div>
            <%end%>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>