<div class="form-position-from-top">
<div class="panel panel-cblue">
<div class="panel-heading">Change Password</div>
<div class="panel-body pan">
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}", :class=>"alert alert-danger" if msg.is_a?(String) %>
  <%- end -%>  
  <%=form_tag update_password_path, method: :post do%>
    <div class="col-md-12 form-top-bottom-padding">
    <div class="field">
      <%=label :password, "Password" %><br />    
      <%=password_field_tag :password, "", class: 'form-control' %>
    </div>
    <div class="field">
      <%=label :password_confirmation, "Password Confirmation" %><br />    
      <%= password_field_tag :password_confirmation, "", class: 'form-control' %>
    </div>
    <br/>
    <div class="actions">
      <%=submit_tag "Change my password", :class=>"btn btn-primary" %>
    </div>
    </div>
  <%end%>
</div>
</div>
</div>
