<%title 'Edit Profile' %>
<div class="row">
<div class="col-md-6">
<div class="panel panel-cblue" style="background:#fff;">  
  	<div class="panel-body pan">
		<%=form_for @employee, :url=> update_profile_path do |f|%>
		  	<div class="form-body pal">

		  	    <div class="form-group">
				<%=f.label :current_address%><br/>
				<%=f.text_area :current_address, class: 'form-control'%>
				</div>
				
				<div class="form-group">
        			<%= f.label :marital_status, 'Marital Status' %><br>
        			<%= f.select :marital_status, options_for_select(["Married", "Single", "Divorced", "Widowed"], :selected => @employee.marital_status), {}, {:class=>"form-control"} %>
       			</div>

       			<div class="form-group">
        			<%= f.label :contact_no, 'Contact Number' %><br>
       				<%= f.text_field :contact_no, :class=>"form-control" %>
      			</div>

      			<div class="form-group">
        			<%= f.label :emergency_contact_no, 'Emergency Contact Number' %><br>
        			<%= f.text_field :emergency_contact_no, :class=>"form-control" %>
       			</div>

       			<div class="form-group">
      				<%= f.label :emergency_name, 'Emergency Name' %><br>
      				<%= f.text_field :emergency_name, :class=>"form-control" %>
     			</div>

     			<div class="form-actions text-right pal">
			  		<%=f.submit 'Update Profile', :class=>'btn btn-primary'%>
			  	</div>
		  	</div>
		<%end%>
  	</div>
</div>
</div>
</div>
