<% title "Profile" %>

<div class="row">
<div class="col-md-12">
<%if can? :update, @employee%>
<%=link_to ' Edit', edit_employee_path(@employee), :class=>"fa fa-pencil-square-o btn btn-primary bottom-margin-10 link-float-right"%>
<%end%>
</div>
</div>

<div class="panel panel-cblue">
<div class="panel-body">
<table class="table table-hover-color table-bordered">
<tbody>

<tr>
    <td>Employee ID :</td>
    <td><%=@employee.ttid%></td>
</tr>

<tr>
    <td>Employee Name :</td>
    <td><%=@employee.fullname%></td>
</tr>

<tr>
    <td>Manager :</td>
    <%if @employee.manager_id?%>
        <td><%=@employee.manager.first_name.capitalize %></td>
    <%else%>
        <td>Nil</td>
    <%end%>    
</tr>

<tr>
    <td>Role :</td>
    <td><%=@employee.role.name%></td>
</tr>

<tr>
    <td>Department Name :</td>    
    <td><%=@employee.department.name%></td>    
</tr>

<tr>
    <td>Actual Date of birth :</td>
    <td><%=@employee.actual_dob.strftime('%d-%b-%Y') %></td>
</tr>

<tr>
    <td>Certificate Date of birth :</td>
    <td><%=@employee.certificate_dob.strftime('%d-%b-%Y') %></td>
</tr>

<tr>
    <td>Permanent Address :</td>
    <td><%=@employee.address%></td>
</tr>

<tr>
    <td>Current Address :</td>
    <td><%=@employee.current_address%></td>
</tr>

<tr>
    <td>Father or Spouse :</td>
    <td><%=@employee.father_or_spouse%></td>
</tr>

<tr>
    <td>Nationality :</td>
    <td><%=@employee.nationality%></td>
</tr>

<tr>
    <td>Blood Group :</td>
    <td><%=@employee.blood_group%></td>
</tr>

<tr>
    <td>Marital Status :</td>
    <td><%=@employee.marital_status%></td>
</tr>

<tr>
    <td>Official Email :</td>
    <td><%=@employee.email%></td>
</tr>

<tr>
    <td>Personal Email :</td>
    <td><%=@employee.personal_email%></td>
</tr>

<tr>
    <td>Contact No. :</td>
    <td><%=@employee.contact_no%></td>
</tr>

<tr>
    <td>Emergency Contact No. :</td>
    <td><%=@employee.emergency_contact_no%></td>
</tr>

<tr>
    <td>Emergency Name & Relationship:</td>
    <td><%=@employee.emergency_name.capitalize%></td>
</tr>

<tr>
    <td>Status :</td>
    <td><%=@employee.status%></td>
</tr>

<tr>
    <td>Resignation Date :</td>
    <td><%=@employee.date_of_resignation%></td>
</tr>

<tr>
    <td>Last Working Day :</td>
    <td><%=@employee.lwd.strftime('%d-%b-%Y') if @employee.lwd%></td>
</tr>

<tr>
    <td>Graduation :</td>
    <td><%=@employee.graduation%></td>
</tr>

<tr>
    <td>Graduation Institution :</td>
    <td><%=@employee.graduation_institution%></td>
</tr>

<tr>
    <td>Graduation University :</td>
    <td><%=@employee.graduation_university%></td>
</tr>

<tr>
    <td>PG :</td>
    <td><%=@employee.pg%></td>
</tr>

<tr>
    <td>PG Institution :</td>
    <td><%=@employee.pg_institution%></td>
</tr>

<tr>
    <td>PG University :</td>
    <td><%=@employee.pg_university%></td>
</tr>

<tr>
    <td>source of Hire :</td>
    <td><%=@employee.source_of_hire%></td>
</tr>

<tr>
    <td>Previous Employer Name :</td>
    <td><%=@employee.previous_employer%></td>
</tr>

<tr>
    <td>No. of years of expereicne :</td>
    <td><%=@employee.prev_years_of_exp%></td>
</tr>

<tr>
    <td>Sick Leaves Available :</td>
    <td><%=@employee.sick_leaves_available%></td>
</tr>

<tr>
    <td>Casual Leaves Available :</td>
    <td><%=@employee.casual_leaves_available%></td>
</tr>

<tr>
    <td>Leaves Used :</td>
    <td><%=@employee.leave_used%></td>
</tr>

<tr>
    <td>Date of Joining :</td>
    <td><%=@employee.date_of_joining.strftime('%d-%b-%Y')%></td>
</tr>


<tr>
    <td>PAN Card No. :</td>
    <td><%=@employee.pancard_no%></td>
</tr>

<tr>
    <td>Passport No. :</td>
    <td><%=@employee.passport_no%></td>
</tr>


<tr>
    <td>PF Number :</td>
    <td><%=@employee.pf_no%></td>
</tr>

<tr>
    <td>Aadhar Number :</td>
    <td><%=@employee.aadhar_no%></td>
</tr>

<tr>
    <td>Health Insurance Card Number :</td>
    <td><%=@employee.health_insurance_card_no%></td>
</tr>

</tbody>
</table>

</div>
</div>



