<p id="notice"><%= notice %></p>
<% title "Leavetypes" %>
<div class="panel panel-cblue">
<div class="panel-heading">Listing Leave Types
<% if can? :create, @leavetype %>
<%= link_to 'New Leavetype', new_leavetype_path, :class=>"add-edit-links" %>
<%end%>
</div>
<div class="panel-body">
<table class="table table-hover-color table-bordered">
  <thead>
    <tr>
    <th>ID</th>
    <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @leavetypes.each_with_index do |leavetype, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%=link_to leavetype.name, leavetype%></td>
        <!-- <td><%= link_to 'Show', leavetype %></td>
        <td><%= link_to 'Edit', edit_leavetype_path(leavetype) %></td>
        <td><%= link_to 'Destroy', leavetype, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
