<p id="notice"><%= notice %></p>
<%title 'Leavetype'%>
<h2>Name: <%=@leavetype.name%></h2>
<%= link_to 'Edit', edit_leavetype_path(@leavetype), :class=>"btn btn-primary" %> |
<%= link_to 'Back', leavetypes_path, :class=>"btn btn-primary" %> |
<%= link_to 'Destroy', @leavetype, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-primary" %>
