<%= simple_form_for(@pollanswer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :pollquestion_id %>
    <%= f.input :option %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
