<p id="notice"><%= notice %></p>

<h1>Listing Pollanswers</h1>

<table class="table table-hover-color table-white-background table-bordered table-color">
  <thead>
    <tr>      
      <th>Answer Id</th>
      <th>Question Id</th>
      <th>Option</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pollanswers.each do |pollanswer| %>
      <tr>
        <td><%= pollanswer.id %></td>
        <td><%= pollanswer.pollquestion_id %></td>        
        <td><%= pollanswer.option %></td>
        <td><%= link_to 'Show', pollanswer %></td>
        <td><%= link_to 'Edit', edit_pollanswer_path(pollanswer) %></td>
        <td><%= link_to 'Destroy', pollanswer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Pollanswer', new_pollanswer_path, class:"btn btn-primary" %>
