<h2>Change your password</h2>

<div class="form-position-from-top">
<div class="panel panel-cblue">
<div class="panel-heading">Login</div>
<div class="panel-body pan">
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}", :class=>"alert alert-danger" if msg.is_a?(String) %>
  <%- end -%>  

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="form-body pal">
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", :class=>"btn btn-primary" %>
  </div>
  </div>
<% end %>
<div class="pal">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
