<div class="panel panel-black" style="background:#fff;">
  <div class="panel-heading">Apply Leave</div>
  <div class="panel-body pan">
    <%= form_for @leave do |f| %>
      <div class="form-body pal">
      <% if @leave.errors.any? %>
      <div class="alert alert-error">
        <strong><%= pluralize(@leave.errors.count, "error") %>    prohibited
          this leave from being saved:</strong>
        <ul>
        <% @leave.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>

      <div class="row">
        <div class="col-md-4">
        <div class="form-group">
        <%=f.label :leave_type%>
        <%=f.collection_select :leavetype_id, Leavetype.all, :id, :name, {:prompt => 'Select Role'}, :class=>"form-control"%>
        </div>
        </div>
        <div class="col-md-4">
        <div class="form-group">
        <%=f.label :fromdate%>
        <%=f.date_field :fromdate, class: 'form-control'%>
        </div>
        </div>
        <div class="col-md-4">
        <div class="form-group">
        <%=f.label :todate%>
        <%=f.date_field :todate, class: 'form-control'%>
        </div>
        </div>
      </div>

      <div class="form-group">
        <%#=f.label :status%>
        <%=f.hidden_field :status, class: 'form-control', value: false%>
      </div>

      <div class="form-group">
      <%=f.label :reason%>
      <%=f.text_area :reason, class: 'form-control', cols: "30", rows: "5"%>
      </div>

     <div class="text-right pal">
      <%= f.submit "Create Leave" ,class: "btn btn-default"%>
     </div>
    </div>
    <% end %>
    </div>
    </div>