   
<td><%=Leavetype.find(leave.leavetype_id).name%></td>
<td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
<td><%=leave.todate.strftime('%d-%b-%Y')%></td>
<td style="text-align:center;"><%=leave.no_of_days%></td>
<td><%=truncate(leave.reason, :escape => false, :length => 15, :omission => '...')%></td>        
<%if leave.status == true%>
<td>Approved</td>
<%elsif leave.status ==false%>
<td>Rejected</td>
<%elsif leave.status ==nil%>
<td>Waiting for Approval</td>
<%end%>
<td style="font-weight:600;"><%=link_to ' View', leave%> |
<%if leave.leave_cancel == false%>
<%=link_to ' Edit', edit_leave_path(leave), remote: true%> |
<%end%>
<%if leave.leave_cancel == false%>
<%= link_to ' Cancel', leave_cancel_leave_path(leave), data: { confirm: 'Are you sure?' }%>	
<%else%>
Cancelled
<%end%>
</td> 
