<% title "Leave Management" %>
<!-- <div id="leave-notice"></div> -->

<div class="col-md-12">
  <div class="row">
    <div class="col-md-6"> 
     <h4>Leave Management</h4>
    </div>
    <div class="col-md-6 text-align-right">      
      <%if @emp.role.name == "Manager"%>
        <%=link_to 'Team Leave Management', team_leave_path, :class=>"btn btn-primary" %>
      <%end%>
      <%if @emp.role.name == "HR"%>
        <%=link_to 'Employee Leave Management', employees_leave_path, :class=>"btn btn-primary" %>
      <%end%>
      <%=link_to 'Apply leave', new_leave_path, remote: true, :class=>"btn btn-primary" %> 
    </div>
  </div>

  <div class="col-md-12 bg-color-white">
    <div class="leave-management">     
      <div class="col-md-4 border-right-gray">
        <h5>Available</h5>
        <h1 class="custom_bluecolor padding-0 margin-0"><%=@available_leave%></h1> 
      </div> 
      <div class="col-md-4 border-right-gray">
        <h5>Used</h5>
        <h1 class="custom_bluecolor padding-0 margin-0"><%= @leave_used%></h1>
      </div>
      <div class="col-md-4">
        <h5>Request Pending</h5>
        <h1 class="req padding-0 margin-0" id = "leave_request_pending" ><%=@request_pending%></h1>
      </div> 
    </div>    
  </div>
</div>

<div class="col-md-12">
  <h4 class="h4_custom_style">Leaves waiting for approval</h4>
  <table class="table table-hover-color table-bordered table-color">
    <thead>
      <tr>
        <th>S.No</th>    
        <th>Type of Leave</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>No of days</th>
        <th>Reason</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @leave_waiting_for_approve.each_with_index do |leave, index| %>
        <tr id="leave_<%=leave.id%>">
          <td><%=index+1%></td>
          <%= render 'leave_row', leave: leave %> 
        </tr>     
      <% end %>
    </tbody>
  </table>
</div>


<div class="col-md-12">
  <h4 class="h4_custom_style">Leaves applied recently</h4>
  <table class="table table-hover-color table-bordered table-color">
    <thead>
      <tr>
        <th>S.No</th>      
        <th>Type of Leave</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>No of days</th>
        <th>Reason</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @leave_approved.each_with_index do |leave, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%=Leavetype.find(leave.leavetype_id).name%></td>
          <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
          <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
          <td><%=leave.no_of_days%></td>
          <td><%=truncate(leave.reason, :escape => false, :length => 30, :omission => '...')%></td>        
          <%if leave.status == true%>
            <td style="color: #1F9B00 !important; font-weight:600;">Approved</td>
            <%else%>
            <td style="color: #F10000 !important; font-weight:600;">Rejected</td>
          <%end%>
          <td><%=link_to 'View Details', leave%></td>                  
        </tr>        
      <% end %>
    </tbody>
  </table>
</div>





