<% title "Leave Management" %>

<div class="row">
<div class="show-options">
<%=link_to ' Apply leave', new_leave_path, :class=>"fa fa-pencil-square-o btn btn-primary" %>
<%if @emp.role.name == "Manager"%>
  <%=link_to ' Team leave', leave_applied_by_team_path, :class=>"fa fa-users btn btn-primary" %>
<%end%>
</div>
</div>





<div class="row">
<%if @emp.role.name == "HR"%>
    <div class="panel panel-cblue">
    <div class="panel-heading">Employees leave waiting for approval</div>
    <div class="panel-body">

      <table class="table table-hover-color table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Emp. Name</th>      
            <th>Leave type</th>
            <th>From date</th>
            <th>To date</th>
            <th>No of days</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @emp_leaves_waiting_for_approval.each_with_index do |leave, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%=link_to leave.employee.fullname, leave.employee%></td>
              <td><%=leave.leavetype.name %></td>
              <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
              <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
              <td><%=leave.no_of_days%></td>
              <td>
                <%=link_to ' view', leave, :class=>"fa fa-eye btn btn-primary"%>
              </td>         
            </tr>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>

  <div class="panel panel-cblue">
    <div class="panel-heading">Employees leave approved recently</div>
    <div class="panel-body">

      <table class="table table-hover-color table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Emp. Name</th>      
            <th>Leave type</th>
            <th>From date</th>
            <th>To date</th>
            <th>No of days</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <% @emp_leaves_approved_recently.each_with_index do |leave, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%=link_to leave.employee.fullname, leave.employee%></td>
              <td><%=leave.leavetype.name %></td>
              <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
              <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
              <td><%=leave.no_of_days%></td>
              <td>
                <%if leave.status == true%>
                Approved
                <%elsif leave.status ==false%>
                Rejected
                <%end%>
              </td>          
            </tr>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>
<%end%>

<div class="panel panel-cblue">
<div class="panel-heading">Leaves waiting for approval</div>
<div class="panel-body">

<table class="table table-hover-color table-bordered">
  <thead>
    <tr>
      <th>ID</th>      
      <th>Leave type</th>
      <th>From date</th>
      <th>To date</th>
      <th>No of days</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @leave_waiting_for_approve.each_with_index do |leave, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%=Leavetype.find(leave.leavetype_id).name%></td>
        <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.no_of_days%></td>
        <td>
                <%if leave.status == true%>
                Approved
                <%elsif leave.status ==nil%>
                Waiting for approval
                <%end%>
              </td>         
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<div class="panel panel-cblue">
<div class="panel-heading">Leaves applied recently</div>
<div class="panel-body">

<table class="table table-hover-color table-bordered">
  <thead>
    <tr>
      <th>ID</th>      
      <th>Leave type</th>
      <th>From date</th>
      <th>To date</th>
      <th>No of days</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @leave_approved.each_with_index do |leave, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%=Leavetype.find(leave.leavetype_id).name%></td>
        <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.no_of_days%></td>
        <td>
        <%if leave.status == true%>
          Approved
        <%end%>
        	
        </td>         
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>