<h4>Team Leave waiting for approval</h4>
<table class="table table-hover-color table-bordered waiting-for-approval table-white-background table-align-center">
  <thead>
    <tr>
      <th>ID</th>
      <th>Employee</th>      
      <th>Leave type</th>
      <th>From Date</th>
      <th>To Date</th>
      <th>Reason</th>
      <th>No of days</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @leave_waiting_for_approve.each_with_index do |leave, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%=leave.employee.fullname%></td>
        <td><%=leave.leavetype.name%></td>
        <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
        <td><%=truncate(leave.reason, :escape => false, :length => 30, :omission => '...')%></td>
        <td><%=leave.no_of_days%></td>
        <td><%=link_to 'Accept', leave_status_approve_leave_path(leave), :data => {:confirm => 'Are you sure?'}, class:"green-color"%> /      
            <%=link_to 'Reject', leave_details_leave_path(leave), :data => {:confirm => 'Are you sure?'}, class: "red-color" %> |      
            <%=link_to 'View Details', leave, :style=>"font-weight:600;"%>              
        </td>         
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Recent Team Leave</h4>
<table class="table table-hover-color table-bordered waiting-for-approval table-white-background table-align-center">
  <thead>
    <tr>
      <th>ID</th>
      <th>Employee</th>      
      <th>Leave type</th>
      <th>From Date</th>
      <th>To Date</th>
      <th>Reason</th>
      <th>No of days</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @leave_approved_recently.each_with_index do |leave, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%=leave.employee.fullname%></td>
        <td><%=leave.leavetype.name%></td>
        <td><%=leave.fromdate.strftime('%d-%b-%Y')%></td>
        <td><%=leave.todate.strftime('%d-%b-%Y')%></td>
        <td><%=truncate(leave.reason, :escape => false, :length => 30, :omission => '...')%></td>
        <td><%=leave.no_of_days%></td>        
        <%if leave.status == true%>
        <td style="color: #1F9B00 !important; font-weight:600;">Approved</td>
        <%elsif leave.status ==false%>
        <td style="color: #F10000 !important; font-weight:600;">Rejected</td>
        <%end%>
               
        <td style="font-weight:600;"><%=link_to 'View Details', leave%></td>        
      </tr>
    <% end %>
  </tbody>
</table>