<%title "Leave Details" %>
<p>id: <%=@leave.id%></p>
<p>Employee Name: <%=@leave.employee.fullname%></p>
<p>From:<%=@leave.fromdate.strftime("%d-%b-%Y")%></p>
<p>To: <%=@leave.todate.strftime("%d-%b-%Y")%></p>
<p>No of days: <%=@leave.no_of_days%></p>
<p>Reason: <%=@leave.reason.html_safe%></p>
<p>Status: <%=@leave.status%></p>

<%=form_for @leave do |f|%>
	<%= f.radio_button :status, 'approve' %> 
	<%= label :status, 'approve' %>
	<%= f.radio_button :status, 'reject', :checked => true %>
	<%= label :status, 'reject' %>
	<%= f.submit "submit", :class=>"btn btn-primary"%>
<%end%>

<br/>
<%=link_to 'back', root_path%>


