<%title "Leave Details" %>
<div class="row">
<div class="col-md-12">
<div class="row">
	<div class="col-md-12">	 
		<h4>Leave Details</h4>
	</div>
</div>

<div class="leave_details">
<div class="panel">
<table class="table table-bordered">
<tbody>

<tr>
<td>Employee Name:</td>
<td> <%=@leave.employee.fullname.to_s.capitalize%></td>
</tr>

<tr>
<td>From:</td>
<td><%=@leave.fromdate.strftime("%d-%b-%Y")%></td>
</tr>

<tr>
<td>To:</td>
<td><%=@leave.todate.strftime("%d-%b-%Y")%></td>
</tr>

<tr>
<td>No of days: </td>
<td><%=@leave.no_of_days%></td>
</tr>

<%if @leave.work_from_home == false%>
<tr>
<td>LeaveType: </td>
<td><%=@leave.leavetype.name%></td>
</tr>
<%end%>

<tr>
<td>Leave Reason: </td>
<td><%=@leave.reason.html_safe%></td>
</tr>

<%if @leave.status != nil %>
	<%unless @leave.reject_reason.blank?%>
		<tr> 
			<td>Rejected Reason</td>
			<td><%=@leave.reject_reason%></td>
		</tr>
	<%end%>
<%else%>
	<tr>
		<%if (current_employee == @leave.employee.manager)%>
			<td>Status: </td>
			<td>
			<%=form_for @leave, :url => leave_status_leave_path do |f|%>
				<%= f.radio_button :status, 'approve', :name=>'leaveStatus' %> 
				<%= label :status, 'approve' %>
				<%= f.radio_button :status, 'reject', :checked => true, :name=>'leaveStatus' %>
				<%= label :status, 'reject' %>
				<br/>
				<div id="reject_reason">
				<%=f.label :reject_reason%><br/>
				<%=f.text_area :reject_reason, size: "20x4"%>	
				</div>
				<%= f.submit "submit", :class=>"btn btn-primary"%>
			<%end%>
			</td>
		<%end%>
	</tr>
<%end%>
</tbody>
</table>
</div>
</div>


<br/>
<a href="javascript:history.back()" class="fa fa-arrow-left btn btn-primary">Back</a>
</div>
</div>


