<%title "Leave Details" %>
<div class="row">
<div class="col-md-8">
<div class="row">
	<div class="col-md-12">	 
	<%=link_to ' Edit', edit_leave_path(@leave), :class=>"fa fa-pencil-square-o btn btn-primary bottom-margin-10 link-float-right"%>
	</div>
</div>

<div class="leave_details">
<div class="panel panel-cblue">
<table class="table table-bordered">
<tbody>

<tr>
<td>Employee Name:</td>
<td> <%=@leave.employee.fullname.to_s.capitalize%></td>
</tr>

<tr>
<td>From:</td>
<td><%=@leave.fromdate.strftime("%d-%b-%Y")%></td>
</tr>

<tr>
<td>To:</td>
<td><%=@leave.todate.strftime("%d-%b-%Y")%></td>
</tr>

<tr>
<td>No of days: </td>
<td><%=@leave.no_of_days%></td>
</tr>

<tr>
<td>LeaveType: </td>
<td><%=@leave.leavetype.name%></td>
</tr>

<tr>
<td>Reason: </td>
<td><%=@leave.reason.html_safe%></td>
</tr>

<tr>
<%if (current_employee == @leave.employee.manager) || (current_employee.role.name =="HR")%>
<td>Status: </td>
<td>
<%=form_for @leave do |f|%>
	<%= f.radio_button :status, 'approve', :id=>"chkYes", :name=>'chkNo' %> 
	<%= label :status, 'approve' %>
	<%= f.radio_button :status, 'reject', :checked => true, :id=>"chkNo", :name=>'chkNo' %>
	<%= label :status, 'reject' %>
	<br/>
	<div id="reject_reason">
	<%=f.label :reject_reason%><br/>
	<%=f.text_area :reject_reason, size: "20x4"%>	
	</div>
	<%= f.submit "submit", :class=>"btn btn-primary"%>
<%end%>
</td>
<%end%>
<!--
<%if @leave.status == true%>
<td>Approved</td>
<%elsif @leave.status == false%>
<td>Rejected</td>
<%elsif @leave.status == nil%>
<td>Waiting for Approval</td>
<%end%>
-->
</tr>
</tbody>
</table>
</div>
</div>


<br/>
<%=link_to ' Back', leave_index_path, :class=>"fa fa-arrow-left btn btn-primary"%>
</div>
</div>



