<%title "Leave Details" %>
<div class="leave_details">
<div class="panel panel-cblue">
<div class="panel-heading">Leave Details</div>
<table class="table table-bordered">
<tbody>

<tr>
<td>Employee Name:</td>
<td> <%=@leave.employee.fullname.to_s.capitalize%></td>
</tr>

<tr>
<td>From:</td>
<td><%=@leave.fromdate.strftime("%d-%b-%Y")%></td>
</tr>

<tr>
<td>To:</td>
<td><%=@leave.todate.strftime("%d-%b-%Y")%></td>
</tr>

<tr>
<td>No of days: </td>
<td><%=@leave.no_of_days%></td>
</tr>

<tr>
<td>LeaveType: </td>
<td><%=@leave.leavetype.name%></td>
</tr>

<tr>
<td>Reason: </td>
<td><%=@leave.reason.html_safe%></td>
</tr>

<tr>
<td>Status: </td>
<td>
<%=form_for @leave do |f|%>
	<%= f.radio_button :status, 'approve', :id=>"chkYes", :name=>'chkNo' %> 
	<%= label :status, 'approve' %>
	<%= f.radio_button :status, 'reject', :checked => true, :id=>"chkNo", :name=>'chkNo' %>
	<%= label :status, 'reject' %>
	<br/>
	<div id="reject_reason">
	<%=f.label :reject_reason%><br/>
	<%=f.text_area :reject_reason, size: "40x5"%>	
	</div>
	<%= f.submit "submit", :class=>"btn btn-primary"%>
<%end%>
</td>
<!--
<%if @leave.status == true%>
<td>Approved</td>
<%elsif @leave.status == false%>
<td>Rejected</td>
<%elsif @leave.status == nil%>
<td>Waiting for Approval</td>
<%end%>
-->
</tr>
</tbody>
</table>
</div>
</div>


<br/>
<%=link_to 'back', leave_index_path%>



