<%= form_for @payroll, html: { multipart: true } do |f| %>  
  <div class="form-inputs">

    <div class="form-group">
      <%#=f.label :department%>
      <%#=f.select_tag :department_id, Department.all, :id, :name, {:prompt => 'Select Department'}, :class=>"form-control", required: true%>
      <%= select_tag "Department", options_for_select(Department.all.collect{ |u| [u.name, u.id]}), class: 'form-control' %>
    </div>

    <div class="form-group">
    	<%=f.label :employee_id%>
    	<%#=f.collection_select :employee_id, Employee.all, :id, :fullname, {:prompt => 'Select Employee'}, :class=>"form-control", required: true%>
      <%=f.grouped_collection_select(:employee_id, Department.all, :name, :name, :id, :name)%>
    </div>

    <div class="form-group">
    	<%=f.label :pay_date, 'Pay Date:'%>
    	<%= f.text_field :pay_date, class: 'datepicker form-control' %>
    </div>

    <div class='form-group'>
      <%=f.label :attachment%>
    	<%= f.file_field :attachment, :class=>'btn btn-primary' %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.submit :submit, :class=>'btn btn-primary' %>
  </div>
<% end %>
