
<% title "Departments" %>
<div class="panel panel-cblue">
<div class="panel-heading">Listing Departments
<% if can? :create, @department %>
<%= link_to 'Add Department', new_department_path, :class=>"add-edit-links" %>
<%end%>
</div>
<div class="panel-body">
<table class="table table-hover-color table-bordered">
  <thead>
    <tr>
    <th>ID</th>
    <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%=department.id%></td>
        <td><%= link_to department.name, department%></td>
        <!-- <td><%= link_to 'Show', department %></td>
        <td><%= link_to 'Edit', edit_department_path(department) %></td>
        <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
