<%= tinymce %>
<%= form_for(@event) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-inputs">
        <%=f.label :title%>
        <%=f.text_field :title, class: "form-control", :required => true%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-inputs">
      <%=f.label :start, "Start Date"%>
      <%=f.text_field :start, class: "form-control datepicker", :required => true%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-inputs">
        <%=f.label :end_date, "End Date"%>
        <%=f.text_field :end_date, class: "form-control datepicker", :required => true%>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <div class="form-inputs">
      <%=f.label :reason, "Description"%>
      <%=f.text_area :reason, class: "form-control tinymce", size: "30x10"%>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-4">
     <div class="form-inputs">
      <%=f.label :publish%>
      <%= f.select :publish, [['publish', 1], ['inactive', 0]], {}, class: "form-control" %>
    </div>
    </div>
    <div class="col-md-4">
      <div class="form-inputs">
      <%=f.label :picture, "Event Picture"%>
      <%=f.file_field :picture%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-actions">
        <%= f.submit :class=>'btn btn-primary'%>
      </div>
    </div>
  </div>
 
  <br/>


<% end %>


