<div class="col-md-12">
    <div class="col-md-8">
      <h4>Events</h4>
    </div>
    <div class="col-md-offset-2 col-md-2">
      <%if can? :create, Event %>
        <%= link_to ' Add', new_event_path, :class=>"fa fa-plus btn btn-primary bottom-margin-10 link-float-right" %>
      <%end%>
    </div> 
</div>

<div class="row">
  <%@events.each do |event|%>
    <div class="col-md-6 event-background-color margin-top-bottom-5 events">
      <h5><%=link_to event.title.capitalize, event, class:"event-title-color"%></h5>     
      <%=image_tag event.picture.url(:medium), class:'hrm_event_images'%>      
      <p>From: <%=event.start.strftime("%d-%b-%Y")%> To: <%=event.end_date.strftime("%d-%b-%Y")%></p>
      <%=truncate(event.reason, :length => 200, escape: false).html_safe%><br/> 
      <%= link_to ' Show', event, :class=>"fa fa-eye btn btn btn-primary" %>
      <%= link_to ' Edit', edit_event_path(event), :class=>"fa fa-pencil-square-o btn btn-warning" %>
      <%= link_to ' Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"fa fa-times btn btn-danger" %>    
    </div>    
  <%end%>
</div>


   
    