<p id="notice"><%= notice %></p>

<%title "Listing Polls"%>

<table class="table table-hover-color table-white-background table-bordered table-color">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Employee Name</th>
      <th>Department</th>
      <th>Answer Id</th>
      <th>Question Id</th>
      <th colspan="1">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each_with_index do |poll, index| %>
      <tr>
        <td><%=index+1%></td>
        <td><%= poll.employee.fullname %></td>
        <td><%= poll.employee.department.name%></td>
        <td><%= poll.pollanswer_id %></td>
        <td><%= poll.pollquestion_id %></td>
        <!-- <td><%#= link_to 'Show', poll %></td>
        <td><%#= link_to 'Edit', edit_poll_path(poll) %></td> -->
        <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Poll', new_poll_path, class: "btn btn-primary" %>
