<%title 'Alerts'%>
<%= tinymce %>
<div class='row'>
<div class="col-md-6">
	<div class="panel panel-cblue">  
	  	<div class="panel-body pan">
			<%= form_tag '/sendmail' do %>
				<div class="form-body pal">
				<div class="form-group">
					<%= radio_button_tag :alert, 'team', :checked => true %> 
					<%= label_tag :alert, 'Team', :for=>'alert_team' %>
					<%= radio_button_tag :alert, 'particular' %>
					<%= label_tag :alert, 'particular', :for=>'alert_particular' %>
				</div>
        <p class="email-errors">Please enter valid e-mail</p>

        <%=label_tag :enter_emails, 'Enter emails seperated by commas:'%><br/>
				<div id="emails_list" class="form-group">				
				<%=text_field_tag :enter_emails, '', :class=>"form-control", :require=>true %>       
				</div>
        
        <div id="get_email" class="form-group">        
        <%=text_area_tag :get_email, '', :class=>"form-control", :require=>true %>
        </div>

        <div class="form-group">
        <%=label_tag :subject , 'Subject:'%>
        <%=text_field_tag :subject, '', class:"form-control", :require=>true%>
        </div>

				<div id="alert-message" class="form-group">
				<%=label_tag :message, 'Message:' %><br/>
				<%=text_area_tag :message, '', :class=>"form-control tinymce", :require=>true%>
				</div>

				<div class="form-actions text-right">
					<%= submit_tag "submit", :class=>"btn btn-primary"%>
				</div>
				</div>
			<%end%>
		</div>
	</div>
</div>
</div>





