	        <div class="Team bg-color-white">
				<div class="col-md-6 Team">
					<!-- <img class="profileImg" src="images/avatar.jpg" alt=""> -->
					<span id="emp_profile_picture"><%=image_tag @emp.profile_picture.url(:medium) %></span>
					<h6 class="profileImgHeading" id="emp_name"><%=@emp.fullname%></h6>
					<!-- <h6 class="profileImgEmail emp_email"><%#=@team_employee.email%></h6> -->
					<p class="profileImgText" id="emp_aboutme"><%=@emp.about_me%></p>
				</div>
				<div class="col-md-6 team-icons">
					<h4>General Information</h4>
					<p>Employee ID: <span id="emp_id"><%=@emp.ttid%></span></p>
					<p>Position: <span id="emp_designation"><%=@emp.designation%></span></p>
					<p>Department: <span id="emp_department"><%=@emp.department.name%></span></p>
					<p>Supervisor: <span id="emp_manager">
						<%if @emp.manager%>
							<%if @emp.department_id == @emp.manager.department_id%>
								<%=link_to @emp.manager.fullname, team_path(:params => { :employee_id => @emp.manager.id }) %>
							<%else%>
								<%=@emp.manager.fullname%>
							<%end%>									
						<%else%>
							Manager
						<%end%>						
					</span></p>					
					<h4>Contact Information</h4>
					<p><i class="fa fa-envelope-o" aria-hidden="true"></i>  <span class="emp_email company_email"><%=mail_to @emp.email%></span></p>
					<%if @emp.contact_no%>
					<p><i class="fa fa-mobile" aria-hidden="true" style="font-size:25px;"></i>  <span id="emp_phone"><%=@emp.contact_no%></span></p>
					<%end%>
					<%#if @team_employee.skype_id%>
					<p><i class="fa fa-skype" aria-hidden="true" style="font-size:19px;"></i>  <span id="emp_skypeid"><%=@emp.skype_id%></span></p>
					<%#end%>
					<h4>Additional Information</h4>
					<p>Birthday: <span id="emp_birthday"><%=@emp.actual_dob.strftime("%d-%b")%></span></p>
				</div>
				<div class="col-md-12">
					<hr style="border-color:#0092B5;margin-top: 0px;margin-bottom: 0px;border-width: 3px;">
				</div>
	        </div>