<div class="row">
	<%@events.each do |event|%>
		<div class="col-md-4 event-background-color">			
			<%=image_tag event.picture.url(:medium), class:'hrm_event_images'%>
			<h4><%=event.title%></h4>
			<p>From: <%=event.start.strftime("%d-%b-%Y")%> To: <%=event.end_date.strftime("%d-%b-%Y")%></p>
			<p><%=event.reason%></p>			
		</div>
	<%end%>
</div>