<div class='row'>
  <div class="col-md-12">
    <h4>Payroll</h4>
    <div class="col-md-6 bg-color-white ">
      <div class="col-md-12 nullPadding">Last Pay Date</div>
      <div class="col-md-12 nullPadding date"><%= @payroll.pay_date.strftime("%d-%m-%Y") if @payroll %></div>
      <%if @payroll %>   
      <%= link_to 'View Payslip', @payroll.attachment_url, :target => "_blank", class: " btn btn-primary" %>
      <%end%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_tag download_payslip_path, :method => 'get' do %>
      <div class="row">
        <div class="col-md-4">
          <%=select_tag :month, options_for_select([["January", 1], ["February", 2], ["March", 3], ["April", 4], ["May", 5], ["June", 6], ["July", 7], ["August", 8], ["September", 9], ["October", 10], ["November", 11], ["December", 12]]), :class=>'form-control' %>
        </div>
        <div class="col-md-offset-6 col-md-2">
          <%=submit_tag 'Download Payslip', :class=>"btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-cblue">
    <div class="panel-body">
      <table class="table table-hover-color table-bordered">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Employee Name</th>
            <th>Attachment</th>
            <th>Pay date</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @payrolls.each_with_index do |payroll, index| %>
            <tr>
              <td><%=index+1%></td>
              <td><%= payroll.employee.fullname %></td>
              <td><%= link_to 'Download Payslip', payroll.attachment_url, :target => "_blank" %></td>
              <td><%= payroll.pay_date.strftime("%d-%b-%Y") if payroll %></td>
              <%if can? :read, payroll%>
              <td><%= link_to '', payroll, :class=>'fa fa-eye btn' %></td>
              <%end%>
              <%if can? :update, payroll%>
              <td><%= link_to '', edit_payroll_path(payroll), class:'fa fa-pencil-square-o btn ' %></td>
              <%end%>
              <%if can? :destroy, payroll%>
              <td><%= link_to '', payroll, method: :delete, data: { confirm: 'Are you sure?' }, class:'fa fa-times btn' %></td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>