<div class="row">	
	<div class="col-md-8">
		<h3>My Profile</h3>
	</div>
	<div class="col-md-offset-2 col-md-2">
		<%=link_to 'Update Profile', edit_profile_path, :class=>'btn btn-primary'%>
	</div>	
</div>
<div class="col-md-12 bg-color-white">
    <div class="Team bg-color-white">
		<div class="col-md-4 Team">
			<img class="profileImg" src="images/avatar.jpg" alt="">
			<h6 class="profileImgHeading"><%=@employee.fullname%></h6>
			<h6 class="profileImgEmail"><%=@employee.email%></h6>
			<p class="profileImgText"><%=@employee.about_me%></p>
		</div>
		<div class="col-md-offset-1 col-md-7">
			<h4>General Information</h4>
			<p>Position: <%=@employee.designation%></p>
			<p>Department: <%=@employee.department.name%></p>
			<p>Supervisor:</p>
			<p>Status: <%=@employee.status%></p>
			<h4>Contact Information</h4>
			<p>E-Mail: <span class="company_email"><%=@employee.email%></span></p>
			<p>Phone: <span id="emp_phone"><%=@employee.contact_no%></span></p>
			<p>Skype: <span id="emp_skypeid"><%=@employee.skype_id%></span></p>
			<h4>Additional Information</h4>
			<p>Birthday: <%=@employee.actual_dob.strftime("%d-%B")%></p>
			<h4>Education Information</h4>
			<p>Graduation: <%=@employee.graduation%></p>
			<p>Post Graduation: <%=@employee.pg%></p>
			<p>Certifications:</p>
			<h4>Professional Experience</h4>
			<p>Previous Company: <%=@employee.previous_employer%></p>
		</div>
    </div>
</div>

