<div class="col-md-12">
	<h4>My Team</h4>
	<div class="col-md-12 nullPadding bg-color-white myteam">
        <ul class="team_list">
        	<% @team.each_with_index do |emp, index| %>
	            <%= link_to employee_details_hrmdashboard_path(emp), remote:true, class:'emp_link' do %>
	            	<li class="teammembers_img <%= 'active' if emp.id == @team_emp_id %>" id="<%=emp.id%>">
	            	<%=image_tag emp.profile_picture.url(:thumb), class:'img-circle'%>
	            	<h6><%= emp.fullname  %></h6>
			    	<p><%= emp.designation  %></p>
			    	</li>
	            <%end%>
            <%end%>  
        </ul>
	</div>

	<div class="col-md-12">
		<hr style="border-color:#0092B5;margin-top: 0px;margin-bottom: 0px;border-width: 3px;">
	</div>
	
	<%if @team_employee %>
		<div class="col-md-12 bg-color-white">
	        <div class="Team bg-color-white">
				<div class="col-md-6 Team">
					<!-- <img class="profileImg" src="images/avatar.jpg" alt=""> -->
					<span id="emp_profile_picture"><%=image_tag @team_employee.profile_picture.url(:medium) %></span>
					<h6 class="profileImgHeading" id="emp_name"><%=@team_employee.fullname%></h6>
					<h6 class="profileImgEmail emp_email"><%=@team_employee.email%></h6>
					<p class="profileImgText" id="emp_aboutme"><%=@team_employee.about_me%></p>
				</div>
				<div class="col-md-6">
					<h4>General Information</h4>
					<p>Position: <span id="emp_designation"><%=@team_employee.designation%></span></p>
					<p>Department: <span id="emp_department"><%=@team_employee.department.name%></span></p>
					<p>Supervisor: <span id="emp_manager"><%=@team_employee.manager.fullname if @team_employee.manager %></span></p>
					<p>Status: <span id="emp_status"><%=@team_employee.status%></span></p>
					<h4>Contact Information</h4>
					<p>E-Mail: <span class="emp_email company_email"><%=@team_employee.email%></span></p>
					<p>Phone: <span id="emp_phone"><%=@team_employee.contact_no%></span></p>
					<p>Skype: <span id="emp_skypeid"><%=@team_employee.skype_id%></span></p>
					<h4>Additional Information</h4>
					<p>Birthday: <span id="emp_birthday"><%=@team_employee.actual_dob.strftime("%d-%b")%></span></p>
				</div>
				<div class="col-md-12">
					<hr style="border-color:#0092B5;margin-top: 0px;margin-bottom: 0px;border-width: 3px;">
				</div>
	        </div>
	</div>
	<% elsif @team.first %>
	<div class="col-md-12 bg-color-white">
        <div class="Team bg-color-white">
			<div class="col-md-6 Team">
				<!-- <img class="profileImg" src="images/avatar.jpg" alt=""> -->
				<span id="emp_profile_picture"><%=image_tag @team.first.profile_picture.url(:medium) %></span>
				<h6 class="profileImgHeading" id="emp_name"><%=@team.first.fullname%></h6>
				<h6 class="profileImgEmail emp_email"><%=@team.first.email%></h6>
				<p class="profileImgText" id="emp_aboutme"><%=@team.first.about_me%></p>
			</div>
			<div class="col-md-6">
				<h4>General Information</h4>
				<p>Position: <span id="emp_designation"><%=@team.first.designation%></span></p>
				<p>Department: <span id="emp_department"><%=@team.first.department.name%></span></p>
				<p>Supervisor: <span id="emp_manager"><%=@team.first.manager.fullname if @team.first.manager %></span></p>
				<p>Status: <span id="emp_status"><%=@team.first.status%></span></p>
				<h4>Contact Information</h4>
				<p>E-Mail: <span class="emp_email company_email"><%=@team.first.email%></span></p>
				<p>Phone: <span id="emp_phone"><%=@team.first.contact_no%></span></p>
				<p>Skype: <span id="emp_skypeid"><%=@team.first.skype_id%></span></p>
				<h4>Additional Information</h4>
				<p>Birthday: <span id="emp_birthday"><%=@team.first.actual_dob.strftime("%d-%b")%></span></p>
			</div>
			<div class="col-md-12">
				<hr style="border-color:#0092B5;margin-top: 0px;margin-bottom: 0px;border-width: 3px;">
			</div>
        </div>
	</div>
	<%end%>
</div>