<% if controller.controller_name == "cpp" and controller.action_name == "show"%>
	<h4>CPP based on designations</h4>
	<div class="bg-color-white">
	<%cpp_designations_except_current.each do |cpp|%>
		<p id="cpp_designation"><%=link_to cpp.designation, cpp, class:"custom_bluecolor"%></p>
	<%end%>
	</div>
<%end%>

<% if controller.controller_name == "cpp" and controller.action_name == "index"%>
	<h4>CPP based on designations</h4>
	<div class="bg-color-white">
	<%cpp_designations.each do |cpp|%>
		<p id="cpp_designation"><%=link_to cpp.designation, cpp, class:"custom_bluecolor"%></p>
	<%end%>		
	</div>
<%end%>

<%if false%>
<% if current_page?(leave_index_path) || current_page?(profile_path) %>
<div class="row">
<div class="col-md-12">
<h4>Announcements</h4>
	<div class="col-md-12 bg-color-white">
	<%latest_announcements.each do |announcement|%>
		<%=link_to announcement.title, announcement, class:"announcement-style"%>
		<%=truncate(announcement.message, length:150, escape: false).html_safe%><%=link_to "..Read More", announcement, class:"title-blue"%><br/>	
	<%end%>	
	</div>
	<%=link_to 'View All', announcements_path, class:'btn-primary pull-right'%>
</div>
</div>
<%end%>
<%end%>

<% unless controller.controller_name == "cpp"%> 
<div class="row">
<div class="col-lg-12">
	<h4>Upcoming Company Events</h4>
	<% upcoming_company_events.each do |f| %>
		<div class="col-md-12 bg-color-white">
			<h5><%= link_to f.title.capitalize, f, class:"event-title-color"%></h5>
			<span class="span-title-color"><%=f.start.strftime("%A, %B %d")%></span>            
			<%=image_tag f.picture.url(:medium)%>
			<%=truncate(f.reason, length:200, escape:false).html_safe%>
		</div>	
	<%end%>
	<%=link_to "View All", company_events_path, class:"btn-primary pull-right"%>
</div>
</div>


<div class="row">
<div class="col-lg-12">
 <%unless upcoming_team_events.blank? %> 
	<h4>Upcoming Team Events</h4>
	<% upcoming_team_events.each do |f| %>
		<div class="col-md-12 bg-color-white">
			<h5><%=link_to f.title.capitalize, f, class:"event-title-color"%></h5>
			<span class="span-title-color"><%=f.start.strftime("%A, %B %d")%></span>        
			<%=image_tag f.picture.url(:medium)%>
			<%=truncate(f.reason, length:200, escape:false).html_safe%>
		</div>	
	<%end%>
<%=link_to "View All", team_events_path, class:"btn-primary pull-right"%>
<%end%>
</div>
</div>
<%end%>


<%#=link_to 'View All Events', hrm_events_path, class: 'btn btn-primary'%>
