<div class="row">
<div class="col-lg-12">
	<h4>Upcoming Company Events</h4>
	<% upcoming_company_events.each do |f| %>
		<div class="col-md-12 bg-color-white">
			<h5><%= link_to f.title.capitalize, f, class:"event-title-color"%></h5>
			<span class="span-title-color"><%=f.start.strftime("%A, %B %d")%></span>            
			<%=image_tag f.picture.url(:medium)%>
			<%=f.reason.html_safe%>
		</div>	
	<%end%>
	<%=link_to "View All", company_events_path, class:"btn-primary pull-right"%>
</div>
</div>

<div class="row">
<div class="col-lg-12">
 <%unless upcoming_team_events.blank? %> 
	<h4>Upcoming Team Events</h4>
	<% upcoming_team_events.each do |f| %>
		<div class="col-md-12 bg-color-white">
			<h5><%=link_to f.title.capitalize, f, class:"event-title-color"%></h5>
			<span class="span-title-color"><%=f.start.strftime("%A, %B %d")%></span>        
			<%=image_tag f.picture.url(:medium)%>
			<%=f.reason.html_safe%>
		</div>	
	<%end%>
<%=link_to "View All", team_events_path, class:"btn-primary pull-right"%>
<%end%>
</div>
</div>



<%#=link_to 'View All Events', hrm_events_path, class: 'btn btn-primary'%>
