<!DOCTYPE html>
<html>
<head>
  <title>HRM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,400i,500,600,700,900," rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/hrmdashboard.css">
</head>

<body>
  <div id="hrm_dashboard">
    <%= render 'layouts/header' %>
  	<%= render 'layouts/navbar' %>
  	<div class="col-md-12 nullPadding padding-bottom-25" style="background-color: #EBEBEB;">
		  <h3></h3>
		  <div class="col-md-8">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> "><%= value %></div>
        <% end %>
    		<%= yield %>
    	</div>
    	<div class="col-md-4 events ">
        <% if current_page?(:controller => 'hrmdashboard', :action => 'payroll') %>
          <%=render 'hrmdashboard/downloadforms'%>
        <%else%> 	
    		  <%=render 'layouts/upcoming_events'%>
        <%end%>
		  </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>